html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Main;
  color: var(--fifth-color);
  --main-color: #0a2e36;
  --secondary-color: #717744;
  --third-color: #bcbd8d;
  --fourth-color: #c58e6a;
  --fifth-color: #eff1ed;
}

h1 {
  font-size: 50px;
  margin: 0;
}

h2 {
  font-size: 30px;
  margin: 0;
}

.App {
  text-align: center;
  height: 200vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.myself {
  width: 100%;
  height: 500px;
  display: flex;
  position: relative;
  background: var(--main-color);
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 35%, 100% 80%);
  -webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 35%, 100% 80%);
}

.me {
  width: 500px;
  height: auto;
  top: 0;
  right: 0;
  position: absolute;
  clip-path: polygon(100% 0%, 100% 100%, 40% 100%, 0% 0%);
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 40% 100%, 0% 0%);
}

.name {
  font-size: 50px;
  font-family: Main;
  color: var(--fifth-color);
}

.title {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  margin-left: 75px;
  letter-spacing: 0.15em;
  font-style: italic;
  font-weight: 400;
}

.portfolio {
  margin-left: 50px;
  color: var(--third-color);
  font-weight: 200;
}

@font-face {
  font-family: Main;
  src: url(./fonts/Sansita-Regular.ttf);
}

.blinker {
  border-right: 0.15em solid orange;
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
