.main {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.description {
  background: var(--fourth-color);
  display: flex;
  justify-content: flex-end;
  height: 40%;
}

.description > .about-me {
  position: relative;
  z-index: 1;
  height: 70%;
  max-width: 50%;
  width: 50%;
  align-items: center;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description:before {
  content: "";
  background-color: var(--fourth-color);
  position: absolute;
  height: 100%;
  width: 100%;
  top: -50px;
  z-index: -1;
}

.about-me .text {
  height: 70%;
  width: 50%;
}

.about-me .button {
  height: 30%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me .button button {
  appearance: none;
  width: 40%;
  height: 50px;
  border: none;
  background: var(--main-color);
  color: #fff;
  font-family: Main;
  font-size: 20px;
  cursor: pointer;
}

.myself {
  width: 100%;
  height: 60%;
  display: flex;
  position: relative;
  background: var(--main-color);
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 35%, 100% 80%);
  -webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 35%, 100% 80%);
  z-index: 2;
  align-items: center;
}

.myself .my-description {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
